<head th:fragment="header(metaTitle)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <title>Payment System</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Bootstrap JS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{assets/password-strength-meter/password.min.css}" th:rel="stylesheet"/>
    <script th:src="@{assets/password-strength-meter/password.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title th:text="${metaTitle} ? ${metaTitle} : 'Universal transaction system'"></title>
</head>