<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:include="fragments/header :: header(metaTitle='Create New User')">
    <h1 th:id="metaTitle">Create New User</h1>
</head>
<body>
<div align="center">
    <form action="#" th:action="@{'/payment/api/users/save'}" th:object="${user}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>
                    <label th:text="${'UserName'}" th:field="${user.userName}"></label>
                </td>
                <td><label>
                    <input type="text" th:field="*{userName}"/>
                </label></td>
                <td>
                    <p th:if="${#fields.hasErrors('userName')}" th:errorclass="error" th:errors="*{userName}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'Password'}" th:field="${user.password}"></label>
                </td>
                <td>
                    <div class="input-group" id="show_hide_password">
                        <label for="password">
                            <input type="password" class="form-control" id="password" autocomplete="off"
                                   th:field="*{password}"/>
                        </label>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'FirstName'}" th:field="${user.firstName}"></label>
                </td>
                <td><input type="text" th:field="${user.firstName}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'LastName'}" th:field="${user.lastName}"></label>
                </td>
                <td><input type="text" th:field="${user.lastName}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'FullName'}" th:field="${user.fullName}"></label>
                </td>
                <td><label>
                    <input type="text" th:field="${user.fullName}">
                </label></td>
                <td>
                    <p th:if="${#fields.hasErrors('fullName')}" th:errorclass="error" th:errors="*{fullName}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'Email'}" th:field="${user.email}"></label>
                </td>
                <td><input type="text" th:field="${user.email}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'Gender'}" th:field="${user.gender}"></label>
                </td>
                <td>
                    <select name="Gender" th:field="${user.gender}">
                        <option th:each="gender : ${T(com.optum.payment.system.entities.enums.Gender).values()}"
                                th:value="${gender}"
                                th:text="${gender.name}"/>
                    </select>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('gender')}" th:errorclass="error" th:errors="*{gender}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'PhoneNumber'}" th:field="${user.phoneNumber}"></label>
                </td>
                <td><input type="text" th:field="${user.phoneNumber}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="error" th:errors="*{phoneNumber}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'Picture'}" th:field="${user.picture}"></label>
                </td>
                <td><input type="text" th:field="${user.picture}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('picture')}" th:errorclass="error" th:errors="*{picture}"></p>
                </td>
            </tr>
            <tr th:each="${user.systems}">
                <td>
                    <label th:text="${'Systems'}" th:field="${user.systems}"></label>
                </td>
                <td>
                    <div th:with="condition=${user.systems.size()!=0}">
                    <div th:each="system : ${user.systems}">
                    <select name="System" th:field="${system}">
                        <option th:each="syst : ${T(com.optum.payment.system.entities.enums.SystemName).values()}"
                                th:value="${syst}"
                                th:text="${syst.name}"/>
                        </option>
                    </select>
                    </div>
                    </div>


                </td>
                <td>
                    <p th:if="${#fields.hasErrors('systems')}" th:errorclass="error" th:errors="*{systems}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'Roles'}" th:field="${user.roles}"></label>
                </td>
                <td>
                    <label>
                        <div th:each="role : ${user.roles}">
                        <select name="Role" th:field="${user.roles}">
                            <option th:each="rol : ${T(com.optum.payment.system.entities.enums.RoleName).values()}"
                                    th:value="${rol}"
                                    th:text="${rol.name}"/>
                        </select>
                        </div>
                    </label>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('roles')}" th:errorclass="error" th:errors="*{roles}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'Notes'}" th:field="${user.notes}"></label>
                </td>
                <td><label>
                    <input type="text" th:field="${user.notes}">
                </label></td>
                <td>
                    <p th:if="${#fields.hasErrors('notes')}" th:errorclass="error" th:errors="*{notes}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'birthDay'}" th:field="${user.birthDate}"></label>
                </td>
                <td>
                    <label>
                        <input type="date" th:value="${{user.birthDate}}" th:field="${user.birthDate}"
                               class="form-control">
                    </label>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('birthDate')}" th:errorclass="error" th:errors="*{birthDate}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="submit" name="action">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<br/><br/>
<div lang="en" th:replace="fragments/footer.html::footer()"></div>

</body>
</html>
