body {
    background: darkcyan;
    color: whitesmoke;
    font-family: arial;
    font-size: 3vh;
    margin-left: 30px;
    padding-left: 20px;
    width: 50%;
}

h1{
    color: whitesmoke;
    background: #0dcaf0;
    font-size: 4vh;
    margin-left: 20px;
    margin-top: 30px;
}
.fieldError {
    border: 1px solid #a94442;
}

.errors {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #a94442;
    border-radius: 5px;
}

.errors li {
    list-style-type: none;
    margin: 0.5em 0.7em;
}

form{
    background: darkgoldenrod;
    margin: 30px;
    padding: 20px;
}

input{
    font-size: 4vh;
}

a{
    color: yellowgreen;
    background: #0dcaf0;
}

a:visited{
    color: whitesmoke;
    background: #0dcaf0;
    font-size: 4vh;
    margin-left: 20px;
    margin-top: 30px;
}
.button{
                                                                                                                                                                                                                                                                            font-size: 4vh;
    color: green;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 5px;
}