<!DOCTYPE html>
<layout:html lang="en"
             xmlns:th="http://www.thymeleaf.org"
             layout:decorator="layouts/default" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
             xmlns:layout="http://www.w3.org/1999/xhtml">
<head lang="en" th:include="fragments/header :: header">
    <title th:id="metaTitle">Error page</title>
</head>

<body class="container">

<div th:include="fragments/errorMessage :: errorMessage">
    <title th:id="err" th:object="${errMsg}"></title>
    <a th:id="err" th:title="${errMsg}"></a>
    <div></div>

    <div lang="en" th:replace="fragments/footer :: footer"></div>

</div>
</body>
</layout:html>