<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header">
    <title th:id="metaTitle">Create New Role</title>
</head>

<body>
<div align="center">
    <h1 align="center">Create New Role</h1>
    <br/><br/>
    <form action="#" th:action="@{'/api/roles/save'}" th:object="${role}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>Login</td>
                <td><input type="text" th:field="${role.name}"/></td>
            </tr>
            <tr>
                <td>FirstName</td>
                <td><input type="text" th:field="${role.decsription}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div lang="en" th:replace="fragments/footer :: footer"> </div>
</body>
</html>
