<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head lang="en" th:include="fragments/header :: header(metaTitle='Create New Bank')">
    <title th:text="${metaTitle} ? ${metaTitle} : 'Create New Bank'"></title>
</head>

<body>
<div align="center">
    <h1 align="center">Create New Bank</h1>
    <br/><br/>
    <form action="#" th:action="@{'/api/banks/save'}" th:object="${bank}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="${bank.name}"/></td>
            </tr>
            <tr>
                <td>IBAN</td>
                <td><input type="text" th:field="${bank.IBANAccount}"></td>
            </tr>
            <tr>
                <td>BIC</td>
                <td><input type="text" th:field="${bank.BIC}"></td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/><br/>
<div lang="en" th:replace="fragments/footer.html::footer()"></div>
</body>
</html>
